.btn {
  padding: 1rem;

  cursor: pointer;

  transition: background-color 0.2s;

  letter-spacing: 0.5px;

  text-transform: uppercase;

  color: var(--color-white);

  border: none;
  border-radius: 5px;
  background-color: var(--color-primary);

  font-size: 0.75rem;
  font-weight: 600;
  line-height: 1.25rem;
}

.btn:hover {
  background-color: var(--color-primary-hover);
}

.btn_pending,
.btn_pending:hover {
  background-color: var(--color-primary-disabled);
}

.btn_pending:hover {
  cursor: initial;
}
