.btn {
  padding: 1rem;

  transition: background-color 0.2s;

  text-transform: uppercase;

  color: var(--color-white);

  border: none;
  border-radius: 5px;
  background-color: var(--color-primary);

  font-size: 0.75rem;
  line-height: 1.25rem;
}

.btn:hover {
  background-color: var(--color-primary-hover);
}
