.ticket-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ticket-header__price {
  color: var(--color-primary);

  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.5rem;
}

.ticket-header__airline-logo {
  width: 99px;
  height: 36px;
}
