.container {
  display: grid;

  justify-content: center;

  margin: 3.125rem;
  grid-template-columns: minmax(auto, 232px) minmax(auto, 502px);
  gap: 1.25rem;
}

.logo {
  justify-self: center;
  grid-column: 1 / -1;
}

aside {
  grid-column: 1 / 2;
}

main {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  grid-column: 2 / -1;
}
