@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color-primary: #2196f3;
  --color-primary-hover: #1487e2;
  --color-primary-disabled: #79c5ff;
  --color-white: #fff;
  --color-white-hover: #f1fcff;
  --color-black: #4a4a4a;
  --color-gray-1: #f3f7fa;
  --color-gray-2: #dfe5ec;
  --color-gray-3: #a0b0b9;
  --font-family: 'Open Sans', sans-serif;
  --font-size: 1em;
}

body {
  color: var(--color-black);
  background-color: var(--color-gray-1);

  font-family: var(--font-family);
  font-size: var(--font-size);
}
