.tab {
  width: 100%;
}

.tab input {
  position: absolute;

  width: 0;
  height: 0;
}

.tab label {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100%;

  padding: 0.9375rem;

  transition: background-color 0.2s;

  text-align: center;

  letter-spacing: 0.5px;

  text-transform: uppercase;

  color: var(--color-black);

  border: solid var(--color-gray-2);
  border-width: 1px 1px 1px 0;
  background-color: var(--color-white);

  font-size: 0.75rem;
  font-weight: 600;
  line-height: 1.25rem;
}

.tab label:hover {
  background-color: var(--color-white-hover);
}

.tab:first-child label {
  border-width: 1px;
  border-radius: 5px 0 0 5px;
}

.tab:last-child label {
  border-radius: 0 5px 5px 0;
}

.tab input:checked + label {
  color: var(--color-white);
  background-color: var(--color-primary);
}

.tab input:checked + label:hover {
  background-color: var(--color-primary-hover);
}
